.app {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.field {
  width: fit-content;
}

.emoji {
  width: 32px;
  height: 32px;
  cursor: pointer;
  user-select: none;
}

.buttons {
  display: flex;
  gap: 8px;
}

.current-emoji {
  display: flex;
  gap: 8px;
}

.field-size {
  display: flex;
  gap: 8px;
}

.counter {
  width: 40px;
}
